<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/GuitarModel2.csdl|res://*/GuitarModel2.ssdl|res://*/GuitarModel2.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\GuitarDB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="GuitarDBEntities" connectionString="metadata=res://*/GuitarModel.csdl|res://*/GuitarModel.ssdl|res://*/GuitarModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\GuitarDB.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>